.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;

}


h2 {
    font-size: 24px;
    margin-left:150px;
    margin-bottom: 20px;
    color: #333;
}


label {
    padding: 2px;
    font-weight: bold;
}


.astric {
    color: red;
}


.field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.invalid-input {
    border-color: red;
}


.form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.button-submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 200px;
}


.button-submit:hover {
    background-color: #0056b3;
}
.premium {
    display: flex;
    align-items: center;
    margin-right: 10px; 
}

.premium-checkbox {
    width: auto; 
    height: auto; 
    margin-left: 25px; 
    margin-bottom: 30x; 
    transform: scale(1.5);
    border: 1px solid #ccc;
    border-radius: 4px;
}
