
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}


h1.mb-3 {
    font-size: 24px;
    margin-bottom: 20px;
}


.flex-center {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


label {
    margin-right: 10px;
}

input[type="text"],
input[type="checkbox"] {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.btn-secondary {
    background-color: #ccc;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #999;
}

.btn-success {
    background-color: #4CAF50;
    color: #fff;
}

.btn-success:hover {
    background-color: #45a049;
}


.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
  }
  

  .table th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
    font-weight: bold;
    border: 1px solid #ddd;
  }
  

  .table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  

  .table tr:hover {
    background-color: #f5f5f5;
  }
  

  .table a {
    text-decoration: none;
    color: #007bff;
  }
  

  .table a i {
    margin-right: 4px;
  }

  .btn-success {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  

  .btn-secondary.btn-sm {
    margin-right: 10px;
  }

  .pagination.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-cell {
    white-space: nowrap; 
    overflow: hidden;   
    text-overflow: ellipsis; 
    max-width: 550px; 
}

.desc-cell {
    white-space: wrap; 
    overflow: hidden;   
    text-overflow: ellipsis; 
    max-width: 150px; 
}