.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;

}

/* Style the form heading */
h2 {
    font-size: 24px;
    margin-left:150px;
    margin-bottom: 20px;
    color: #333;
}

/* Style the form labels */
label {
    padding: 2px;
    font-weight: bold;
}

/* Style the asterisk */
.astric {
    color: red;
}

/* Style the form inputs */
.field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style the invalid input */
.invalid-input {
    border-color: red;
}

/* Style the select input */
.form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style the textarea */
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style the submit button */
.button-submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 200px;
}

/* Hover effect for the submit button */
.button-submit:hover {
    background-color: #0056b3;
}
.premium {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Add margin as needed */
}

.premium-checkbox {
    width: auto; /* Set width to auto or an appropriate value */
    height: auto; /* Set height to auto or an appropriate value */
    margin-left: 25px; 
    margin-bottom: 30x; 
    transform: scale(1.5);
    border: 1px solid #ccc;
    border-radius: 4px;
}
